services:
  dashboard-tong-apec-global:
    container_name: dashboard-tong-apec-global
    image: dashboard-tong-apec-global
    build:
      context: .
      dockerfile: Dockerfile
      
    env_file:
      - .env
    
    ports:
      - "127.0.0.1:3018:3018"

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:3018"]
      interval: 30s
      timeout: 5s
      retries: 3

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
